<% if current_user %>
<h1>USER'S INDEX PAGE</h1>
<h2><a href="/users/<%=current_user.id%>">Search for bars around you</a></h2>

<h2>Check out other users:</h2>

	<% @users.each do |user| %>
	<div><a href="/users/<%=user.id%>"><%=user.email%></a></div>
	<% end %>
	
<% else %>
<h1>You should sign up</h1>
<h2>Here are other users:</h2>

	<% @users.each do |user| %>
	<div><a href="/users/<%=user.id%>"><%=user.email%></a></div>
	<% end %>
<% end %>