<h1>Edit your friend</h1>

<%= form_for @friend do |form| %>
	Name: <%= form.text_field :name %><br/>
	Email: <%= form.text_area :email %><br/>
	<%= form.hidden_field :user_id, :value => current_user.id %>
	<%= form.submit %>
<% end %>
<br/><br/>
<button><%=link_to 'Delete', @friend, :method => 'delete', class: 'btn btn-warning'%></button>
